<ion-header>
    <ion-navbar>
        <button
            ion-button
            menuToggle
        >
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>My active visit</ion-title>
    </ion-navbar>
</ion-header>

<ion-content
    padding
    *ngIf="!!visit"
>
    <img
        src="assets/imgs/logo.png"
        class="dmit-logo"
    >
    <ion-list>
        <ion-item>
            <ion-row
                justify-content-between
                align-items-center
            >
                <span>Visit date</span>
                <span>
                    {{ dateTimeService.timestampToDisplayDate(visit.visitDate) }}
                </span>
            </ion-row>
        </ion-item>
        <ion-item>
            <ion-row
                justify-content-between
                align-items-center
            >
                <span>Store</span>
                <span>{{ visit.store | uppercase }}</span>
            </ion-row>
        </ion-item>
        <ion-item>
            <ion-row
                justify-content-between
                align-items-center
            >
                <span>Visit type</span>
                <span>{{ visit.visitType }}</span>
            </ion-row>
        </ion-item>
        <ion-item>
            <ion-row
                justify-content-between
                align-items-center
            >
                <span>Trend</span>
                <span>{{ visit.salesTrend }}%</span>
            </ion-row>
        </ion-item>
        <ion-item>
            <ion-row
                justify-content-between
                align-items-center
            >
                <span>Visit goal</span>
                <span>{{ visit.goalSet }}%</span>
            </ion-row>
        </ion-item>
        <ion-item>
            <ion-row
                justify-content-between
                align-items-center
            >
                <span>Days made</span>
                <span>{{ getSuccessScore() }}</span>
            </ion-row>
        </ion-item>
        <visit-progress
            padding
            [goalSet]="visit.goalSet"
            [progressBars]="visitOriginal.dayResults"
        ></visit-progress>
    </ion-list>

    <div padding>
        <div
            class="wrapper__day-result"
            *ngFor="let dayResult of visit?.dayResults; let i = index;"
        >
            <ion-row
                justify-content-between
                align-items-center
                class="wrapper__past-results"
                *ngIf="!isFutureDate(dayResult)"
            >
                <div class="wrapper__day-label">
                    <h3>Day {{ i + 1 }}</h3>
                    <p>
                        {{ dateTimeService.timestampToDisplayDate(dayResult.date) }}
                    </p>
                </div>
                <div class="wrapper__day-badge">
                    <ion-icon
                        name="cloud-done"
                        *ngIf="!isFutureDate(dayResult) && savedResultIsEqual(dayResult.result, i)"
                    ></ion-icon>
                    <ion-badge
                        *ngIf="!!dayResult.result"
                        [color]="dayResultIsGreaterThanOrEqualToGoalSet(dayResult) ? 'primary' : 'danger'"
                    >
                        {{ dayResult.result }}%
                    </ion-badge>
                </div>

            </ion-row>
            <ion-input
                *ngIf="!isFutureDate(dayResult)"
                type="text"
                [(ngModel)]="dayResult.result"
                placeholder="Enter a new result"
            ></ion-input>
        </div>

        <ion-row
            justify-content-start
            align-items-center
            class="wrapper__notes"
        >
            <ion-icon name="list-box"></ion-icon>
            <h4>Notes</h4>
        </ion-row>
        <ion-textarea
            *ngIf="!!visit"
            [(ngModel)]="visit.note"
            placeholder="Enter notes here..."
        >
            {{ visit.note }}
        </ion-textarea>
        <ion-row
            justify-content-center
            align-items-center
            padding
            full
        >
            <button
                ion-button
                round
                large
                (click)="submit()"
            >
                Update
            </button>
        </ion-row>
        <ion-row
            justify-content-center
            align-items-center
            padding
        >
            <button
                ion-button
                round
                large
                color="danger"
                (click)="closeVisit()"
            >
                Close this visit
            </button>
        </ion-row>
    </div>
</ion-content>
